body{
    background-color: #3E7CB1;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 3%;
}

#header{
    text-align: center;
    
}

.header_content_elements{
    display:inline-block;
    width: 30%;        
}

#fotoheitor{
    border-radius: 10%;
    width: 145px;
    padding: 5px;
    background-color: white;
}

.texto_justificado{
    text-align: justify;                
}
  
.button {
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    text-decoration:none;
    background: #81A4CD;
    border-radius: 0px;          
    padding: 10px 15px 10px 15px;
    color: #fff;
    font-weight: 900;
    font-style: normal
}
.estilo_titulo_descricao {
    font-family: cursive;
}
.texto_destacado{
   color: rgb(43, 226, 52);
}
.skills_facilidade{
    font-size: 5ch;
}
.skills_curiosidade{
    font-size: 4.5ch;
}
.skills_oratoria{
    font-size: 4ch;
}
.skills_aprender{
    font-size: 3.5ch;
}
.skills_dedicacao{
    font-size: 3ch;
}
.skills_assertividade{
    font-size: 2.5ch;
}
.skills_empatia{
    font-size: 2ch;
}
.skills_racionalizacao{
    font-size: 1.5ch;
}

ul li:nth-child(odd){
    text-decoration:overline;
}